/* colores */
:root {
    --azul-oscuro: #104da9;
    --azul-claro: #1877f2;
    --gris: #585759;
    --negro1: #202022;
    --negro2: #1e1e1e;
    --negro3: #010101;
  }

body { 
    background: url("../images/bokkeh_background.jpg") no-repeat center center fixed, blue; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


div[id="search"] form{
    position: relative;
    left: -40px;
    top: -3px;
}

div p {
    color: white;
    font: 18px 'Arial', Arial, 'Arial', Arial, Arial, Arial;
    padding-left: 17px;
        }

/* CSS Barra de navegación */
nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav img {
    height: 60px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}
nav img:hover {
    opacity: 0.7;
}

nav form {
    margin-right: 20px;
}
nav input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    width: 200px;
}
nav input[type="submit"] {
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
nav input[type="submit"]:hover {
    background-color: #777;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #555;
}

/* CSS for card Layout */
h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.card {
    flex-basis: calc(33.33% - 20px);
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    max-height: auto;
    min-height: auto;
  }

  .card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .card-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card-text div {
    flex-basis: 48%;
  }

.card .card-text {
    padding: 10px;
    text-align: left;
}
.card .card-text h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.card .card-text p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.card .card-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    background-color: var(--azul-oscuro);
    border-radius: 10px;
}

.card .card-buttons .button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--azul-claro);
    box-sizing:inherit;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.card .card-buttons button:hover {
    background-color: #777;
}


header {
    background-color: #011731;
    border: 0.5px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
    color: silver;
    font: 28px Arial, Arial;
    min-width: 850px;
    display: block;
    min-height: 120px;
    margin-top: -3px;
}

h1 {
    margin-right: 20px;
}

#bannerimage {
    float: left;
    width: 100px;
    text-align: right;
}

#bannerjpg {
        position: relative;
        left: 470%;
        
        border: groove 2px black;
}

#bannerimage + div {
    text-align: right;
}

#bannerimage img {
    height: 70px;
    width: 80px;
    border: #011731 solid 2px;
    -webkit-transform: rotateY(0deg); /* Safari */
    transform: rotateY(0deg);
    -webkit-transition: transform 3s;
    transition: transform 3s;
}

#bannerimage img:hover {
    -webkit-transform: rotateY(360deg); /* Safari */
    transform: rotateY(360deg);
}

#bannerlogo {
    margin-right: 0;
}

.homelink {
    color: white;
    text-decoration: none;
}

.transluscent-mat {
    width: 916px;
    margin: auto;
    background-color: #011731;
    background-color: rgba(16,35,52, 0.4);
    padding-top: 0.1px;
}

.shiftup{
    position: relative;
    top: -39px;
}

.navigation {
    position: relative;
    left: -3.9%;
    margin-top: -5px;
    margin-bottom: 10px;
    width: 960px;
    overflow: hidden;
}
        
.layout {
            margin: 7px 0;
            width: 916px;
            background-color: #011731;
            border: 0.5px solid black;
            position: relative;
            bottom: 3px;
            margin-top: 0px;
            -moz-box-sizing:border-box;
            box-sizing:border-box
}

.block {
            color: silver;
            display: inline-block;
            clear: both;
            -moz-box-sizing:border-box;
            box-sizing:border-box
        }
        
.block-left {
            float: left;
            width: 455px;
            position:relative;
            z-index: 1;
            -moz-box-sizing:border-box;
            box-sizing:border-box
}
        
.block-right {
            overflow: hidden;
            position: relative;
            z-index: 0;
            -moz-box-sizing:border-box;
            box-sizing:border-box
}
        
.nscs {
        height: 27.5px;
        width: 150px;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        padding-top: 6.125px;
        font-family: Arial, Arial;
        color: black;
        text-align: center;
        border-radius: 0 5px 5px 0;
        box-shadow: 1px 1px 1px black;
        background: linear-gradient(to right, #0370ff, #81b8ff);
        overflow: hidden;
        position: relative;
        left: -5px;
}
    
.pageheading{ 
        height: 27.5px;
        width: 150px;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        padding-top: 6.125px;
        font-family: Arial, Arial;
        color: black;
        text-align: center;
        border-radius: 0 5px 5px 0;
        box-shadow: 1px 1px 1px black;
        background: linear-gradient(to right, white, grey);
        overflow: hidden;
        position: relative;
        left: -5px;
        margin-top: 5px;
        position: relative;
        top: 10px;
}
    
h3 {
        text-align: center;
        font: 28px Arial, Arial;
        color: silver;
        text-decoration: none;
}

footer {
    background-color: #011731;
    border: 2px solid #011731;
    margin-top: -42px;
    margin-left: -7px;
    margin-right: -8px;
    margin-bottom: -8px;
    color: silver;
    font: 9px Arial, Arial, Arial;
    min-width: 935px;
    display: block;
}

#sitemap {
    text-align: center;
}

.smap {
    display: inline-block;
    color: white;
    text-align: center;
}

hr { 
    display: block;
    border-style: inset;
    border-width: 0.2px;
}

span a:link {
    color: #3399FF;
    text-decoration: none;
}

span a:visited {
    color: #3399FF;
    text-decoration: none;
}

#designsalutation {
    float: right;
}